<% layout("layouts/boilerplate") -%>

<div class="row">
    <h1 class="text-center"> New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/destinations/new?_method=PUT" method = "POST" class="row g-3 needs-validation" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label for = "title" class="form-label mt-1">Title</label>
                <input class="form-control" id="title" name="formData[title]" type='text' value="" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="images" class="form-label mt-1">Image URL</label>
                <input class="form-control" id="images" name="images" type='file' value="" required multiple>
                <div class="valid-feedback">
                    Looks good!
            </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label mt-1">Location</label>
                <input class="form-control" id="location" name="formData[location]" type='text' value="" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <label for="price" class="form-label mt-1">Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input class="form-control" id="price" name="formData[price]" type='number' required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success mb-3">Add Destination</button>
        </form>
        <a href ="/destinations">Back to All</a>
    </div>
</div>